 #a1{
     margin-left: 0px;
     margin-top: 50px;
     font-size:25px;
     color:red;
      }

    footer {
      position: absolute;
      background-color: Black;
      padding: 15px 6px;
      width: 100%;
      margin-top: 5%;
    }
    .footer_info {
      position: relative;
      color: white;
      text-align: center;
    }
    .container{
      margin-top: 5%
    }